@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Root element for custom CSS variables */
:root {
    --background: #ffffff; /* Background is set to white */
    --foreground: #171717; /* Text color is dark for contrast on a white background */
    --font-primary: 'Montserrat', sans-serif; /* Primary font */
    --font-secondary: 'Open Sans', sans-serif; /* Secondary font */
}

@font-face {
    font-family: '__montreal';
    src: url('./fonts/Montreal-Regular.woff') format('woff');
    
}

@font-face {
    font-family: '__montreal';
    src: url('./fonts/Montreal-Bold.woff') format('woff');
    
}
@font-face {
    font-family: 'Mona Sans';
    src:
      url('./fonts/Mona-Sans.woff2') format('woff2');
     
    
}

/* Optional dark mode settings based on user's system preference */
/*@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed; 
    } 
} */

/* Applying root colors to the body */
body {
    color: var(--foreground); /* Text color from root */
    background: var(--background); /* Background color from root */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Custom utility for balanced text wrapping */
@layer utilities {
    .text-balance {
        text-wrap: balance; /* Enables balanced text wrapping (modern browser support only) */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1.2s ease-out;
}